<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

  <form action="/create_target" method="post">
    <table>
      <tr>
        <td><label for="moa">MOA per click:</label></td>
        <td><input type="number" id="moa" name="moa" step="0.01"><br></td>
      </tr>

      <tr>
        <td><label for="yardage">Yardage:</label></td>
        <td><input type="number" id="yardage" name="yardage" step="1"><br></td>
      </tr>

      <tr>
        <td><label for="diagonal_thickness">Diagonal Lines Thickness:</label></td>
        <td><input type="number" id="diagonal_thickness" name="diagonal_thickness" step="1"><br></td>
      </tr>

      <tr>
        <td><label>Scope Adjustment Guide:</label></td>
        <td><input type="checkbox" name="scope_adjustment_text"><br></td>
      </tr>
    </table>
    <button type="submit">Generate PDF</button>

  </form>

</body>